.main-header
	position: absolute
	top: 0
	left: 0
	right: 0
	padding-top: 5em
	



	


.logo
	width: 30%
	min-width: 10rem
	max-width: 15rem
	//background: none
	//transform: rotate(90deg)
	padding-top: 3em
	
	display: block
	margin-left: auto
	margin-right: auto
	@media(min-width: 725px)
		margin-right: 100%
		padding-top: 2em
		//transform: rotate(90deg)
		

		





	
	

	img
		border: 2px solid white

	





	
	
