.sales-points
	padding: 10vh 0	0	//vh adjusts itself according the type of screen they are using
	background: $main
	padding-bottom: 3rem
	h1
		color: white
		padding-bottom: 1em

	a
		color: white


	.sales-point
		margin-bottom: 2em
		h2
			color: white
			padding-top: 1em
		p
			color: $accent
			padding-bottom: 2em

		&:first-of-type
			margin-top: 1.5em


		&:last-child
			margin-bottom: 2rem


		@media(min-width: 725px)
			&:first-of-type
				margin-top: 0
			//padding-bottom: 2em


	.sales-point img	//allows me to edit image withing sales-point class
		width: 30%
		height: auto

	.proj
		text-decoration: underline


.sales-points2
	padding: 10vh 0	0	//vh adjusts itself according the type of screen they are using
	background: $accent
	padding-bottom: 3rem
	h1
		color: white
		padding-bottom: 1em

	a
		color: white



	.more
		color: white

	.sales-point2
		margin-bottom: 2em
		h2
			color: white
			padding-top: 1em
		p
			color: $main
			padding-bottom: 2em

		&:first-of-type
			margin-top: 1.5em


		&:last-child
			margin-bottom: 2rem


		@media(min-width: 725px)
			&:first-of-type
				margin-top: 0
			//padding-bottom: 2em


	.sales-point2 img	//allows me to edit image withing sales-point class
		width: 30%
		height: auto

	.proj2
		text-decoration: underline


